version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: telecom
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  elt:
    build: ./elt
    environment:
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: telecom
      CRON_SCHEDULE: "0 * * * *"  # every hour
    volumes:
      - ./data:/data
    depends_on:
      - db

  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db_data:
